{
	"DestinationName": "com.sunil.mdk.empinfo",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": true,
	"OfflineOptions": {
		"CSDLOptions": [
			"ignoreAllReferences"
		]
	},
	"SourceType": "Mobile"
}