{
	"DestinationName": "com.sunil.mdk.empinfo",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": false,
	"OnlineOptions": {
		"CSDLOptions": [
			"ignoreAllReferences"
		]
	},
	"SourceType": "Mobile"
}