{
    "DestinationName": "com.sunil.mdk.empinfo",
    "OfflineEnabled": false,
    "LanguageURLParam": "sap-language",
    "OnlineOptions": {},
    "PathSuffix": "",
    "SourceType": "Mobile",
    "ServiceUrl":""
}